In [512]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import numpy as np
import sklearn.metrics

In [513]:
df = pd.read_csv("..//data_mart//reporting_rb.csv")
hold_out_year = 2015

In [514]:
print(df.columns)

Index(['fms_id', 'espn_id', 'full_name', 'first_name', 'last_name', 'position',
       'position_group', 'section', 'college', 'draft_year',
       'selection_number', 'position_rank', 'position_group_rank',
       'section_rank', 'drafting_team', 'home_city', 'home_state',
       'home_country', 'college_weight_pounds', 'college_height_inches',
       'hw_ratio', 'forty', 'vertical', 'bench', 'broad', 'threecone',
       'shuttle', 'rushing_games', 'rushing_rec_td', 'rushing_rec_yards',
       'rushing_receptions', 'rushing_rush_att', 'rushing_rush_td',
       'rushing_rush_yds', 'rushing_scrim_plays', 'rushing_scrim_tds',
       'rushing_scrim_yds', 'rushing_seasons', 'college_weight_pounds_zscore',
       'college_height_inches_zscore', 'hw_ratio_zscore', 'forty_zscore',
       'vertical_zscore', 'bench_zscore', 'broad_zscore', 'threecone_zscore',
       'shuttle_zscore', 'rushing_games_zscore', 'rushing_rec_td_zscore',
       'rushing_rec_yards_zscore', 'rushing_receptions_zscore',
       'rushing_rush_att_zscore', 'rushing_rush_td_zscore',
       'rushing_rush_yds_zscore', 'rushing_scrim_plays_zscore',
       'rushing_scrim_tds_zscore', 'rushing_scrim_yds_zscore',
       'rushing_seasons_zscore', 'max_madden_zscore',
       'rushing_rec_td_pg_zscore', 'rushing_rec_yards_pg_zscore',
       'rushing_receptions_pg_zscore', 'rushing_rush_att_pg_zscore',
       'rushing_rush_td_pg_zscore', 'rushing_rush_yds_pg_zscore',
       'rushing_scrim_plays_pg_zscore', 'rushing_scrim_tds_pg_zscore',
       'rushing_scrim_yds_pg_zscore', 'football_spending_zscore',
       'coaches_salaries_zscore', 'ticket_sales_zscore', 'max_madden'],
      dtype='object')

In [515]:
test_df = df.loc[df['draft_year'] == hold_out_year]

In [516]:
bool_series = pd.notnull(df['max_madden'])
train_df = df[bool_series]
train_df = train_df.loc[train_df['draft_year'] != hold_out_year]
print(train_df)

     fms_id    espn_id            full_name first_name  last_name position  \
0       113  3886636.0          Alex Barnes       Alex     Barnes       RB
1       136  4048244.0   Alexander Mattison  Alexander   Mattison       RB
2       414        NaN          Benny Snell      Benny      Snell       RB
3       645  3931398.0           Bryce Love      Bryce       Love       RB
4      1182  3925347.0        Damien Harris     Damien     Harris       RB
..      ...        ...                  ...        ...        ...      ...
490    3119        NaN  LaDainian Tomlinson  LaDainian  Tomlinson       RB
492    3551        NaN      Michael Bennett    Michael    Bennett       RB
508    2170        NaN          Jamal Lewis      Jamal      Lewis       RB
510    2899  4372601.0          Keith Smith      Keith      Smith       RB
523    4658        NaN         Thomas Jones     Thomas      Jones       RB

    position_group section       college  draft_year  ...  \
0               RB       O  Kansas State        2019  ...
1               RB       O   Boise State        2019  ...
2               RB       O      Kentucky        2019  ...
3               RB       O      Stanford        2019  ...
4               RB       O       Alabama        2019  ...
..             ...     ...           ...         ...  ...
490             RB       O           TCU        2001  ...
492             RB       O     Wisconsin        2001  ...
508             RB       O     Tennessee        2000  ...
510             RB       O       Arizona        2000  ...
523             RB       O      Virginia        2000  ...

     rushing_rush_att_pg_zscore  rushing_rush_td_pg_zscore  \
0                     -0.010877                   0.089511
1                      0.462081                   0.561893
2                      1.236402                   1.672389
3                     -0.327105                  -0.223216
4                     -0.923499                  -0.794232
..                          ...                        ...
490                    1.678104                   1.714300
492                    0.605239                  -0.100845
508                    1.051748                  -0.169937
510                         NaN                        NaN
523                    1.126718                   0.477576

     rushing_rush_yds_pg_zscore  rushing_scrim_plays_pg_zscore  \
0                      0.164368                      -0.132464
1                      0.152931                       0.492119
2                      1.115162                       1.056488
3                      0.324403                      -0.374233
4                     -0.528113                      -0.947424
..                          ...                            ...
490                    1.904886                       1.518567
492                    0.601764                       0.350751
508                    1.108987                       1.024012
510                         NaN                            NaN
523                    0.788331                       1.129557

    rushing_scrim_tds_pg_zscore rushing_scrim_yds_pg_zscore  \
0                     -0.119293                   -0.051690
1                      0.404870                    0.186999
2                      1.380955                    0.783732
3                     -0.297134                    0.203636
4                     -0.849318                   -0.640466
..                          ...                         ...
490                    1.420678                    1.515885
492                   -0.299711                    0.201419
508                    0.065135                    1.202452
510                         NaN                         NaN
523                    0.512581                    0.748345

    football_spending_zscore coaches_salaries_zscore  ticket_sales_zscore  \
0                   0.523233                1.055015             0.867303
1                   0.431353                0.429134             0.054803
2                   0.693707                1.068504             2.261231
3                        NaN                     NaN                  NaN
4                   3.376624                3.401683             2.568886
..                       ...                     ...                  ...
490                      NaN                     NaN                  NaN
492                 2.178725                1.334343             2.123692
508                 2.278526                1.725350             2.672030
510                 0.910814                1.127826             0.718847
523                 1.118960                1.134373             0.749654

     max_madden
0          63.0
1          68.0
2          69.0
3          71.0
4          69.0
..          ...
490        94.0
492        60.0
508        85.0
510        77.0
523        90.0

[296 rows x 72 columns]

In [517]:
print(set(list(train_df['draft_year'])))

{2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2016, 2017, 2018, 2019}

In [518]:
numerical_columns = ['threecone_zscore',
       'shuttle_zscore', 'rushing_games_zscore', 'rushing_rec_td_zscore',
       'rushing_rec_yards_zscore','rushing_rec_td_pg_zscore', 'rushing_rec_yards_pg_zscore',
       'rushing_receptions_pg_zscore', 'rushing_rush_att_pg_zscore',
       'rushing_rush_td_pg_zscore', 'rushing_rush_yds_pg_zscore',
       'rushing_scrim_plays_pg_zscore', 'rushing_scrim_tds_pg_zscore',
       'rushing_scrim_yds_pg_zscore', 'football_spending_zscore',
       'coaches_salaries_zscore', 'ticket_sales_zscore']

In [519]:
X = train_df[numerical_columns]
y = train_df['max_madden']

In [520]:
regr = RandomForestRegressor(random_state=0)
X = X.fillna(0)
regr.fit(X,y)

c:\users\b\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [521]:
test_df = test_df.fillna(0)
preds = regr.predict(test_df[numerical_columns])

In [522]:
test_df['max_madden'] = test_df['max_madden'].replace(0, 65)
print(test_df[['full_name', 'max_madden']])

               full_name  max_madden
108       Ameer Abdullah        82.0
109         B.J. Catalon        65.0
110        Braylon Heard        65.0
111  Cameron Artis-Payne        70.0
112           David Cobb        71.0
113             Dee Hart        65.0
114      Dominique Brown        66.0
115         Duke Johnson        83.0
116       Jahwan Edwards        66.0
117       Javorius Allen        74.0
118            Jay Ajayi        87.0
119      Jeremy Langford        76.0
120        Josh Robinson        67.0
121      Karlos Williams        69.0
122       Kenny Hilliard        62.0
123        Malcolm Brown        72.0
124        Marcus Murphy        70.0
125           Matt Jones        77.0
126        Melvin Gordon        87.0
127         Michael Dyer        65.0
128           Mike Davis        77.0
129          T.J. Yeldon        80.0
130       Terrence Magee        69.0
131        Tevin Coleman        86.0
132         Thomas Rawls        83.0
133          Todd Gurley        80.0
134        Trey Williams        67.0

In [523]:
sklearn.metrics.r2_score(list(test_df['max_madden']), preds)

0.31164174557045066

In [524]:
se = pd.Series(list(preds))

In [525]:
test_df['preds'] = se.values

In [528]:
result_df = test_df[['full_name', 'max_madden', 'preds', 'position_group_rank']]

In [529]:
result_df.sort_values(by=['preds'], ascending=False)

               full_name  max_madden  preds  position_group_rank
126        Melvin Gordon        87.0   83.0                  2.0
133          Todd Gurley        80.0   82.1                  1.0
116       Jahwan Edwards        66.0   79.7                 26.0
115         Duke Johnson        83.0   79.1                  6.0
129          T.J. Yeldon        80.0   78.9                  3.0
123        Malcolm Brown        72.0   78.5                 27.0
117       Javorius Allen        74.0   77.8                 10.0
118            Jay Ajayi        87.0   76.8                 13.0
112           David Cobb        71.0   76.3                 12.0
108       Ameer Abdullah        82.0   76.2                  4.0
128           Mike Davis        77.0   76.1                 11.0
111  Cameron Artis-Payne        70.0   75.4                 16.0
119      Jeremy Langford        76.0   74.8                  8.0
131        Tevin Coleman        86.0   73.6                  5.0
134        Trey Williams        67.0   72.6                 31.0
127         Michael Dyer        65.0   72.5                 28.0
114      Dominique Brown        66.0   72.1                 25.0
124        Marcus Murphy        70.0   71.5                 18.0
120        Josh Robinson        67.0   71.4                 17.0
132         Thomas Rawls        83.0   71.1                 30.0
121      Karlos Williams        69.0   70.8                 14.0
125           Matt Jones        77.0   70.6                  7.0
130       Terrence Magee        69.0   70.5                 29.0
110        Braylon Heard        65.0   70.2                 23.0
122       Kenny Hilliard        62.0   69.6                 20.0
113             Dee Hart        65.0   69.6                 24.0
109         B.J. Catalon        65.0   68.9                 22.0

In [537]:
pd.DataFrame(result_df.sort_values(by=['max_madden'], ascending=False)['full_name'])

               full_name
126        Melvin Gordon
118            Jay Ajayi
131        Tevin Coleman
132         Thomas Rawls
115         Duke Johnson
108       Ameer Abdullah
133          Todd Gurley
129          T.J. Yeldon
125           Matt Jones
128           Mike Davis
119      Jeremy Langford
117       Javorius Allen
123        Malcolm Brown
112           David Cobb
124        Marcus Murphy
111  Cameron Artis-Payne
130       Terrence Magee
121      Karlos Williams
120        Josh Robinson
134        Trey Williams
116       Jahwan Edwards
114      Dominique Brown
127         Michael Dyer
109         B.J. Catalon
113             Dee Hart
110        Braylon Heard
122       Kenny Hilliard

In [538]:
pd.DataFrame(result_df.sort_values(by=['preds'], ascending=False)['full_name'])

               full_name
126        Melvin Gordon
133          Todd Gurley
116       Jahwan Edwards
115         Duke Johnson
129          T.J. Yeldon
123        Malcolm Brown
117       Javorius Allen
118            Jay Ajayi
112           David Cobb
108       Ameer Abdullah
128           Mike Davis
111  Cameron Artis-Payne
119      Jeremy Langford
131        Tevin Coleman
134        Trey Williams
127         Michael Dyer
114      Dominique Brown
124        Marcus Murphy
120        Josh Robinson
132         Thomas Rawls
121      Karlos Williams
125           Matt Jones
130       Terrence Magee
110        Braylon Heard
122       Kenny Hilliard
113             Dee Hart
109         B.J. Catalon

In [541]:
pd.DataFrame(result_df.sort_values(by=['position_group_rank'], ascending=True)['full_name'])

               full_name
133          Todd Gurley
126        Melvin Gordon
129          T.J. Yeldon
108       Ameer Abdullah
131        Tevin Coleman
115         Duke Johnson
125           Matt Jones
119      Jeremy Langford
117       Javorius Allen
128           Mike Davis
112           David Cobb
118            Jay Ajayi
121      Karlos Williams
111  Cameron Artis-Payne
120        Josh Robinson
124        Marcus Murphy
122       Kenny Hilliard
109         B.J. Catalon
110        Braylon Heard
113             Dee Hart
114      Dominique Brown
116       Jahwan Edwards
123        Malcolm Brown
127         Michael Dyer
130       Terrence Magee
132         Thomas Rawls
134        Trey Williams