This notebook exists to help perform some transformations and inspections of data.  Goal is to eventually collapse this into a .py file.

Data Sources / credits:
* Census data selector CSV download from: https://www.census.gov/data-tools/demo/saipe/#/?map_geoSelector=aa_c&s_year=2018,2017,2015,2009&map_yearSelector=2009
* Andrew's API key: 809a11b265cd8f07473e64706d722d9c5aa77b23

In [1]:
# Install some helpful libraries
#!pip install geopy

# Importing necessary libraries
import pandas as pd
from geopy.geocoders import Nominatim
from functools import partial

# Setup our geolocator
geolocator = Nominatim(user_agent="college-town-weather-extractor-v2")
geocode = partial(geolocator.geocode, language="en", timeout=120)

In [2]:
# Reading the files
fpath = '../economics-input.csv'
city_df = pd.read_csv(fpath,header=0)
city_df['county'],city_df['state']='',''
fpath = './census/SAIPESNC_30MAY20_00_49_30_76.csv'
census_df = pd.read_csv(fpath)

In [3]:
# Put some economics analysis here.
for i in range(city_df.shape[0]):
    city,state = city_df['Geographic Location'][i].split(",")
    location = geolocator.geocode(city+state+" usa")
    loc = location[0].split(',')[1:3]
    #print(city,state," - ",end="")
    #print(location)
    cty = ""
    for l in location[0].split(','):
        if 'county' in l.lower():
            cty = l
        else:
            if 'parish' in l.lower():
                cty = l
    if cty == "":
        print("County not found for:",location)
    city_df.at[i,'county'],city_df.at[i,'state']=cty,state

County not found for: Chestnut Hill, Massachusetts, 02102, United States of America
County not found for: Hampton, Hampton City, Virginia, 23669-4019, United States of America
County not found for: Harrisonburg, Virginia, 22801:22802, United States of America
County not found for: Lynchburg, Lynchburg (city), Virginia, 24505, United States of America
County not found for: Baltimore, Maryland, United States of America
County not found for: Norfolk, Virginia, United States of America
County not found for: Cedar Falls, Iowa, 50613, United States of America
County not found for: Norman, Oklahoma, United States of America
County not found for: Stillwater, Oklahoma, United States of America
County not found for: Stillwater, Oklahoma, United States of America
County not found for: Norfolk, Virginia, United States of America
County not found for: Richmond, Richmond City, Virginia, 23298, United States of America
County not found for: Charlottesville, Virginia, United States of America

In [4]:
city_df

               College   Geographic Location                   county state
0    Abilene Christian           Abilene, TX            Taylor County    TX
1            Air Force  Colorado Springs, CO           El Paso County    CO
2                Akron             Akron, OH            Summit County    OH
3              Alabama        Tuscaloosa, AL         Jefferson County    AL
4        Alabama State        Montgomery, AL        Clearfield County    AL
..                 ...                   ...                      ...   ...
239   Western Michigan         Kalamazoo, MI         Kalamazoo County    MI
240          Wisconsin           Madison, WI              Dane County    WI
241            Wyoming           Laramie, WY        Livingston County    WY
242               Yale         New Haven, CT   Prince George's County    CT
243   Youngstown State        Youngstown, OH          Mahoning County    OH

[244 rows x 4 columns]

In [5]:
census_df

,Year,State,County ID,State / County Name,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
0,2018,0,0,United States,"319,184,033","41,852,315","41,619,366","42,085,264","41,619,366 to 42,085,264",13.1,...,"3,802,546","3,714,862 to 3,802,546",19.5,19.3,19.7,19.3 to 19.7,"$61,937","$61,843","$62,031","$61,843 to $62,031"
1,2017,0,0,United States,"317,741,588","42,583,651","42,342,619","42,824,683","42,342,619 to 42,824,683",13.4,...,"3,985,293","3,880,645 to 3,985,293",20.2,19.9,20.5,19.9 to 20.5,"$60,336","$60,250","$60,422","$60,250 to $60,422"
2,2015,0,0,United States,"313,476,400","46,153,077","45,878,016","46,428,138","45,878,016 to 46,428,138",14.7,...,"4,499,317","4,397,105 to 4,499,317",22.8,22.5,23.1,22.5 to 23.1,"$55,775","$55,690","$55,860","$55,690 to $55,860"
3,2009,0,0,United States,"299,026,555","42,868,163","42,631,574","43,104,752","42,631,574 to 43,104,752",14.3,...,"4,907,599","4,792,377 to 4,907,599",23.2,23.0,23.5,23.0 to 23.5,"$50,221","$50,147","$50,295","$50,147 to $50,295"
4,2018,1,1000,Alabama,"4,763,811","801,758","785,668","817,848","785,668 to 817,848",16.8,...,"77,840","69,990 to 77,840",26.0,24.6,27.4,24.6 to 27.4,"$49,881","$49,123","$50,639","$49,123 to $50,639"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12772,2009,56,56043,Washakie County (WY),"7,725",889,661,"1,117","661 to 1,117",11.5,...,NaN,NaN,NaN,NaN,NaN,NaN,"$47,098","$42,536","$51,659","$42,536 to $51,659"
12773,2018,56,56045,Weston County (WY),"6,595",777,608,946,608 to 946,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$54,319","$48,315","$60,323","$48,315 to $60,323"
12774,2017,56,56045,Weston County (WY),"6,573",699,541,857,541 to 857,10.6,...,NaN,NaN,NaN,NaN,NaN,NaN,"$56,214","$50,250","$62,178","$50,250 to $62,178"
12775,2015,56,56045,Weston County (WY),"6,884",675,520,830,520 to 830,9.8,...,NaN,NaN,NaN,NaN,NaN,NaN,"$60,986","$54,751","$67,221","$54,751 to $67,221"
12776,2009,56,56045,Weston County (WY),"6,698",663,507,819,507 to 819,9.9,...,NaN,NaN,NaN,NaN,NaN,NaN,"$50,642","$45,337","$55,947","$45,337 to $55,947"

In [6]:
city_df.to_csv('../economics-output.csv', index=True)